*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #fcca03, #03c6fc, #1c03fc);
}
.App{
    width: 550px;
    height: 200px;
    background-color: black;
    color: #ffffff;
    margin-top: 10px;
}
.App-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100%; 
    font-size: 25px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    outline: none;
}
.input{
    outline: none;
    height: 30px;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
}
.select{
    height: 30px;
    width: auto;
}